<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Daily Relax - Login</title>
<link rel="stylesheet" href="css/login.css"/>
<meta name="autor" content="Gabriel Lara"/>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>

	<div class="Login-Form">
	
		<div class="container">
		
			<div class="main-div">
			
				<div class="texto-header">
					<h2></h2>
				</div>
			
			</div>
		
		</div>
	
	</div>

</body>
</html>